H1{
    font-size: 50px;
    text-align: center;
    margin: 0 auto;}

 form {
    font-size: 30px;
    height: 450px;
    margin: auto;
    position: relative;
   } 

.sumbtn{

height: 50px;
width: 100px;
}



