
h1{
    text-align: center; 
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif;
    color: #2E475D;
    font-size: 50px; 
}
h2{
    text-align: center;
    margin: auto;
    width: 640px;
    padding: 100px;
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    font-size: 30px; 
}
.addbtns
{
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    
    font-family: 'Lexend Deca', sans-serif;
    color: white;

}
::placeholder{
    color: white;
}
.addbtn
{
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    background-color: green;

}

.btns
{
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    font-family: 'Lexend Deca', sans-serif;
    color: green; 
}
.delbtn
{   position: relative;
    left: 40%;
    right: 50%;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    background-color: red;

}
table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width: 50%;
    
  }
tr:hover {background-color: #D6EEEE;}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid #DDD;
  }


